div {
  margin: 20px;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
}

td {
  width: 100px;
  height: 66px;
  text-align: center;
  font-size: 40px;
  cursor: pointer;
}

tr td:not(:last-child) {
  border-collapse: collapse;
  border-right: 1px solid black;
}

tr:not(:last-child) td {
  border-collapse: collapse;
  border-bottom: 1px solid black;
}

#winner {
  margin: 0 auto;
  text-align: center;
  margin-top: 40px;
  font-size: 20px;
}

.center {
  text-align: center;
}